.Chatscreen_message{
    display: flex;
    align-items: center;
    padding: 20px;
}

.Chatscreen_texte{
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.Chatsmatched{
    text-align:center;
    padding: 20px;
    color: grey;
}

.Chatscreen_textUser{
    margin-left: auto;
    background-color: aqua;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.Chatscreen_inputscreen{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}
.Chatscreen_input{
    flex: 1;
    padding: 10px;
    border: none;
}
.Chatscreen_inputbutton{
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: red;
}